<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}"
>
<th:block layout:fragment="title">
  <title>index page</title>
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>
<th:block layout:fragment="javascript">
  <script th:src="@{/js/index.js}"></script>
</th:block>
<th:block layout:fragment="containerFragment">
  <div class="container">
    <div class="index">
      <div class="index-con">

        <div class="login" style="background-color:#ffffff">
          <h1>로그인</h1>
          <form th:action="@{/member/login}" method="post">
            email: <input type="text" name="email" id="email"> <br>
            password: <input type="text"  name="password" id="password"> <br>
            <!--  password: <input type="text"  name="pw" id="pw"> <br>-->
            <input type="submit" value="로그인">
          </form>
        </div>

      </div>
    </div>
  </div>
</th:block>

</html>